<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
@{
    ViewBag.Title = "PanelInformacion";
    Layout = "~/Views/Shared/_LayoutPanelComerciante.cshtml";
}
<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Datos Personales</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Direccion</span></a>
                    </li>
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong>NOMBRE COMPLETO: </strong>@ViewBag.nombres
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>CÉDULA: </strong>@ViewBag.cedula
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>NÚMERO CELULAR: </strong>@ViewBag.celular
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>CORREO: </strong>@ViewBag.correo
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="messages">
                        <div class="col-4"></div>
                        <h3 style="background-color:black">REFERENCIA DEL DOMICILIO</h3>
                        <h4 style="color:black">@ViewBag.referencia</h4>
                        <div class="col-8">
                            <div class="mb-8">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <div class="embed-responsive-item">
                                        <div id="map-simple" class="w-100 h-100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2hyaXNlZG03IiwiYSI6ImNrOWo1N3FiMzA5a2QzdGw2bDgwdHB5OWYifQ._GeVlAXvOxWTJe-2rAVphQ';
    var lon=@ViewBag.longitud;
    var lat=@ViewBag.latitud;
    var map = new mapboxgl.Map({
        container: 'map-simple',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [lon,lat],
        zoom: 12
    });
    map.addControl(new mapboxgl.NavigationControl());
    map.addControl(new mapboxgl.FullscreenControl());
    var marker = new mapboxgl.Marker({
        draggable: false
    })
        .setLngLat([lon, lat])
        .addTo(map);;
   
</script>
