
@{ ViewBag.Title = "PanelNegocio";
                Layout = "~/Views/Shared/_LayoutPanelComerciante.cshtml"; }
<a href='@Url.Action("CreateNegocio", "Direcciones",new { id = ViewBag.id })' class="btn btn-success">AÑADIR NEGOCIO</a>
<div class="row mt-3">
    @foreach (var item in ViewBag.lst)
    {
    <div class="col-lg-6">
        <div class="card" style="background-color:cadetblue">
            <div class="card-body">
                @if (item.imagen != null)
                {
                    <div align="center"><img src="data:image/png;base64,@System.Convert.ToBase64String(item.imagen)" height="100" /></div><br />
                }
                else
                {
                    <div align="center"><img src='@Url.Content("~/images/logo-black.svg")' class="img-circle" alt="user avatar" height="100"></div><br />
                }
                <div align="center"><h5 class="card-title" style="font-size:20px">@item.nombre</h5></div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><h6>Categoría</h6></th>
                                <td>@item.categoria</td>
                            </tr>
                            <tr>
                                <th scope="col"><h6>Descripción</h6></th>
                                <td>@item.descripcion</td>
                            </tr>
                            <tr>
                                <th scope="col"><h6>Horario</h6></th>
                                <td>@item.horario</td>
                            </tr>
                            <tr>
                                <th scope="col"><h6>Estado</h6></th>
                                @if (item.estado)
                                {
                <td>
                    ABIERTO
                </td> }
                                else
                                {
                                    <td>
                                        CERRADO
                                    </td>
                                }

                            </tr>
                            <tr>
                                <th scope="col"><h6>Delivery</h6></th>
                                @if (item.delivery)
                                {
                <td>
                    SI
                </td> }
                                else
                                {
                                    <td>
                                        NO
                                    </td>
                                }
                            </tr>
                            <tr>
                                <th scope="col"><h6>Reserva</h6></th>
                                @if (item.reserva)
                                {
                <td>
                    SI
                </td> }
                                else
                                {
                                    <td>
                                        NO
                                    </td>
                                }
                            </tr>
                        </thead>
                    </table>
                </div><br />
                @{ /*
                <div id="btncrud">
                    <a class="btn btn-info" href='@Url.Action("Index", "Productos", new { id = ViewBag.id })'>VER PRODUCTOS</a>
                    <a href='@Url.Action("Edit", "Negocios", new { id = ViewBag.id })' class="btn btn-warning">EDITAR</a>
                    <a href='@Url.Action("Delete", "Negocios", new { id = ViewBag.id })' class="btn btn-danger">ELIMINAR</a>
                    <a href='@Url.Action("Index", "Home", new { id = ViewBag.id })' class="btn btn-dark" style="margin-top:5px">UBICACION</a>
                </div>*/
                    }
            </div>
        </div>
    </div>
    }
</div>

