@model BEUProyecto.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forma_de_Pago.idFormaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forma_de_Pago.idFormaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lista.idLista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lista.idLista)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPedido }) |
    @Html.ActionLink("Back to List", "Index")
</p>
