@model BEUProyecto.Negocio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPanelComerciante.cshtml";
}

@using (Html.BeginForm("Create", "Negocios", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Crear Negocio</h4>
        <hr />
        <input type="hidden" name="idComerciante" value="@ViewBag.idComerciante" />
        <div class="form-group">
            @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="file" name="file" id="file" /> <hr/>
            <div class="col-md-10">
                <div id="preview"></div>
            </div>
        </div>
      <div class="form-group">
          @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
          </div>
      </div>

      <div class="form-group">
          @Html.LabelFor(model => model.categoria, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.categoria, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })
          </div>
      </div>

      <div class="form-group">
          @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
          </div>
      </div>

      <div class="form-group">
          @Html.LabelFor(model => model.open, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.open, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.open, "", new { @class = "text-danger" })
          </div>
      </div>
      <div class="form-group">
          @Html.LabelFor(model => model.close, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.close, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.close, "", new { @class = "text-danger" })
          </div>
      </div>
      <div class="form-group">
          @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              <div class="checkbox">
                  @Html.EditorFor(model => model.estado)
                  @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
              </div>
          </div>
      </div>
      <div class="form-group">
          @Html.LabelFor(model => model.delivery, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              <div class="checkbox">
                  @Html.EditorFor(model => model.delivery)
                  @Html.ValidationMessageFor(model => model.delivery, "", new { @class = "text-danger" })
              </div>
          </div>
      </div>

      <div class="form-group">
          @Html.LabelFor(model => model.reserva, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              <div class="checkbox">
                  @Html.EditorFor(model => model.reserva)
                  @Html.ValidationMessageFor(model => model.reserva, "", new { @class = "text-danger" })
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
              <input type="submit" value="Crear Negocio" class="btn btn-default" />
          </div>
      </div>
    </div>
}
<script>
    document.getElementById("file").onchange = function (e) {
        // Creamos el objeto de la clase FileReader
        let reader = new FileReader();

        // Leemos el archivo subido y se lo pasamos a nuestro fileReader
        reader.readAsDataURL(e.target.files[0]);

        // Le decimos que cuando este listo ejecute el código interno
        reader.onload = function () {
            let preview = document.getElementById('preview'),
                image = document.createElement('img');

            image.src = reader.result;

            preview.innerHTML = '';
            preview.append(image);
        };
    }
</script>
